blockquote.blockquote.context:after {
	margin-left: 0;
}

blockquote.blockquote.context {
	font-size: 1em;
	border: none;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	font-family: "Gill Sans W04",GillSans,"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
}

#cboxTitle {
	color:white;
}

.patch-change-block{
	padding-left: 104px;
	background-repeat: no-repeat;
	background-size: 64px auto;
	background-position: 20px 20px;
}

.change-title{
	padding-top: 0px;
	margin-top: 0px;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
	font-size: 2em;
}

.skin-title {
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
	font-size: 1.3em;
	text-align: center;
}
.skin-box {
	margin-bottom: 10px;
}

.change-detail-title{
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
	font-size: 1.2em;
	margin-top: 20px;
}

.sub-section-title{
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
	font-size: 1.6em;
	font-weight: bold;
	color: #043A5C;
}

.patch-change-block .reference-link{
	display: block;
	position: absolute;
	width: 104px;
	height: auto;
	padding: 20px;
	top: 0;
	left: 0;
	text-decoration: none;
}

.context-designer {
	display: block;
	color: #940000;
	font-style: normal;
	text-align: right;
}

.context-designer img {
	margin-right: 3px;
	height: 24px;
	vertical-align: top;
}

.summary, .disclaimer{
	color: #777;
	font-style: italic;
	margin-bottom: 15px;
	margin-top: 0px;
}

.attribute-change{
	padding: 3px 0 3px 42px;
}

.attribute-change .attribute{
	color: #777;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .65em;
}

.attribute-change .attribute:after {
	content : " : ";
}

.new {
	/*background-color: #B6AA80;*/
	background-color: #91A85F;
	color: #eee;
	/*font-weight: bold;*/
	border-radius: 4px;
}

.new.float-left, .removed.float-left {
	float: left;
	font-size: 1.1em;
	text-transform: uppercase;
	vertical-align: top;
	font-family: "Gill Sans W04",GillSans,"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
	margin-right: 3px;
	line-height: 1.0em;
	padding: 6px;
	border-radius: 8px;
}

.attribute-change .attribute .new {
	margin-right: 3px;
	padding: 3px 4px;
}

h4 .new {
	margin-right: 3px;
	padding: 3px 4px;
	font-family: "Gill Sans W04",GillSans,"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
	vertical-align: middle;
	font-size: 0.7em;
	text-transform: uppercase;
}

.removed {
	background-color: #A05757;
	color: #eee;
	/*font-weight: bold;*/
	border-radius: 4px;
}
.attribute-change .attribute .removed {
	margin-right: 3px;
	padding: 3px 4px;
}

h3 .removed {
	padding: 3px 4px;
	font-size: 0.6em;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: "Gill Sans W04",GillSans,"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
	margin-right: 3px;
}

h4 .removed {
	margin-right: 3px;
	padding: 3px 4px;
	font-family: "Gill Sans W04",GillSans,"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
	vertical-align: middle;
	font-size: 0.7em;
	text-transform: uppercase;
}

.attribute-change .change-indicator{
	color: #888;
}

.attribute-change .attribute-before, .attribute-change .attribute-removed{
	color: #999;
}

.attribute-change .attribute-before {
	text-decoration: line-through;
}

.ability-title a{
	display: block;
	padding-left: 0;
	line-height: 32px;
}

.ability-title img{
	height: 32px;
	width: auto;
	padding-right: 10px;
}

.patch-change-block .divider{
	margin: 10px 0;
}

.patch-change-block .divider:first-of-type {
	display: none;
}

.header-primary.image-header{
	margin-top: 115px;
	margin-bottom: 15px;
	padding-top: 7px;
}

.heading-image{
	width: 100%;
	height: 100px;
	position: absolute;
	top: -100px;
	left: 0;
}

.modes-sr{
	background-image: url('http://riot-web-static.s3.amazonaws.com/images/Patch-Notes-Headers/map-banner-sr.jpg');
	background-position: 50%;
	background-size: 100% auto;
}

.modes-tt{
	background-image: url('http://riot-web-static.s3.amazonaws.com/images/Patch-Notes-Headers/map-banner-tt.jpg');
	background-position: 50%;
	background-size: 100% auto;
}

.modes-ha{
	background-image: url('http://riot-web-static.s3.amazonaws.com/images/Patch-Notes-Headers/map-banner-ha.jpg');
	background-position: 50%;
	background-size: 100% auto;
}

.modes-cs{
	background-image: url('http://riot-web-static.s3.amazonaws.com/images/Patch-Notes-Headers/map-banner-cs.jpg');
	background-position: 50%;
	background-size: 100% auto;
}

.modes-tt-cs{
	background-image: url('http://riot-web-static.s3.amazonaws.com/images/Patch-Notes-Headers/map-banner-tt-cs.jpg');
	background-position: 50%;
	background-size: 100% auto;
}

.modes-tt-cs-ha{
	background-image: url('http://riot-web-static.s3.amazonaws.com/images/Patch-Notes-Headers/map-banner-tt-cs-ha.jpg');
	background-position: 50%;
	background-size: 100% auto;
}
.modes-sr-tt{
	background-image: url('http://riot-web-static.s3.amazonaws.com/images/Patch-Notes-Headers/map-banner-sr-tt.jpg');
	background-position: 50%;
	background-size: 100% auto;
}


ul.arrow-bullets {
	list-style-image : url("http://cdn.leagueoflegends.com/game-info/1.0.19/css/resources/images/bullet.png");
	padding          : 0 0 0 16px;
	margin           : 10px 0;
}

#patch-notes-container {
  position:relative;
}